body {
  margin: 0;
}
.value {
  font-size: 120px;
}
.label {
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}
.field {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 25px;
  padding: 10px;
  background-color: rgb(255, 251, 0);
}
.timer {
  display: flex;
  justify-content: space-evenly;
  padding: 60px 100px;
}
